/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    background: url("neutral_background.jpg");
    width: 99%;
}

#header {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
#clock {
    height: 50px;
    font-size: 25px;
    color: black;
    font-weight: 800;
}
.formAndH1Holder {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h1 {
    color: darkslateblue;
    margin: 0 0 20px 0;
}
.deleteAllTasks {
    font-size: 20px;
    background-color: seagreen;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    margin-left: 30px;
    /*background: none;*/
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.deleteAllTasks:hover {
    scale: 1.05;
    background: red;
    color: white;
}
input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
button {
    border-radius: 10px;
}
#new_task_form {
    display: flex;
    justify-content: space-evenly;
}
input::placeholder {
    color: black;
}
#input_task {
    width: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}
#submit_task {
    font-size: 20px;
    font-weight: 800;
    border-radius: 15px;
    background-image: linear-gradient(to right, darkblue, darkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}
.content {
    width: 100%;
}
#submit_task:hover {
    scale: 1.05;
}
h2 {
    font-size: 40px;
    text-align: center;
    color: black;
}
.mainUl {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    display: flex;
    flex-wrap: wrap;
}
.task {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background-color: lightsteelblue;
    border-radius: 15px;
    margin-bottom: 10px;
    opacity: 0.90;

}
.dateElement {
    font-size: 20px;
    color: lightgoldenrodyellow;
}
.dateElement.checked {
    text-decoration: line-through;
}
.taskAndButtonDiv {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 10px;
    opacity: 0.90;
}
.text {
    color: white;
    font-size: 20px;
    width: 100%;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}
.text:not(:read-only) {
    color: darkviolet;
}
.text.checked {
    text-decoration: line-through;
}
/* Remove margins and padding from the list */
.main_tasks ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
.task {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.5s;
    border: 1px solid lightgoldenrodyellow;
}

/* Set all odd list items to a different color (zebra-stripes) */
.task:nth-child(odd) {
    background-color: lightslategrey;
}

/* Darker background-color on hover */
.task:hover {
    background: orange;
}

/* When clicked on, add a background color and strike out text */
.task.checked {
    background: limegreen;
}

/* Add a "checked" mark when clicked on */
.task.checked:before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 25px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.task_button_holder {
    display: flex;
    margin: 0 -15px;
}
.task_button_holder button {
    cursor: pointer;
    margin: 0 15px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
}
.task_button_holder button:hover {
    scale: 1.1;
}
.edit {
    text-decoration: none;
    background-image: linear-gradient(to right, darkblue, darkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.delete {
    color: crimson;
}